/* *************************************** */
/* 15 Zenith Website */
/* Created by: Penelope Jungreis */
/* Date: 18 August 2020 */
/* **************************************** */

* {
    -moz-box-sizing: border-box; /* Firexfox */
    -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}  

html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.flex-parent {
    display: flex;
}

.space-around {
    justify-content: space-around;
}


.extra-margin {
    margin: 3rem 0;
}

.increase-margin-top {
    margin-top: 2rem;
}

.reduce-margin-top {
    margin-top: 0;
}

.reduce-margin-bottom {
    margin-bottom: .2rem;
}

.add-padding {
    padding-bottom: 1rem;
}

.fixed {
    position: fixed;
    z-index: 100;
    top: 0;
    display: block;
    width: 100%;
}

header {
    display: flex;
    margin: 0 auto;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    background-color: white;
}

header #logo {
    height: 50px;
    padding: 5px 20px;
    float: left;
} 

header .twitter-follow-button {
    background-color: #1b95e0;
    color: white;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
    padding: 0.3rem 1rem;
}
.follow-link {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}
#twitter-logo {
    height: 15px;
    padding-right: 0.5rem;
}
.menu {
    visibility: hidden;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 10%;
}

nav ul {
    display: flex;
    margin: 0;
    width: 70%;
    justify-content: space-evenly;
    padding: 0;
}

nav ul li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: rgb(51, 51, 51);
    font-weight: bold;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

nav .scandal-nav {
    background-color: rgba(0, 82, 133, 1);
    border-radius: 5px;
    padding: 0.2rem;
    color: white;
    text-align: center;
    white-space: nowrap
}

nav a:hover {
    background-color: rgba(211, 211, 211, 1);
}

@media only screen and (max-width: 775px) {
   header {
        display: block;
        padding: 0.5rem 0 0 0;
    }
    .menu {
        visibility: visible;
        position: absolute;
        top: 0.8rem;
        right: 0.8rem;
        cursor: pointer;
    }
    nav ul {
        display: none;
    }
    .mobile-menu {
        display: block;
        width: 100%; 
        text-align: center;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    }
    nav ul li {
      border-top: 1px solid rgba(0, 0, 0, .3);
      padding: 0.7rem;
      width: 100%;
    }
    nav .scandal-nav {
        border-radius: 0;
        padding: 0.7rem;
    }
    header .twitter-follow-button {
        background-color: #1b95e0;
        color: white;
        border-radius: 20px;
        float: right;
        padding: 0.6rem 0.5rem;
        /* margin: -2.7rem 4rem; */
        position: absolute;
        top: -0.15rem;
        right: 3.5rem;

    }
    #twitter-logo {
        height: 15px;
        padding-right: 0;
    }
    .follow-text {
        display: none;
    }
    nav a {
        width: 100%;
    }
  }

.main-body {
   max-width: 100%;
   margin: 0 auto;
}

.hook {
    margin: 80px auto auto auto;
    display: flex;
    align-items: center;
    width: 70%;
}

.hook article {
    margin: auto;
}

.hook img {
    border: 1.5px solid rgb(100,100,100);
    font-family: 'Bebas Neue', cursive;
    max-width: 100%;
    height: auto;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.hook figure {
    justify-content: center;
    width: 50%;
    margin: auto;
}

.hook p {
    font-size: 3.2rem;
    margin: 0;
    font-family: 'Bebas Neue', cursive;
}

figcaption {
    display: flex;
    justify-content: center;
}

q {
    margin: 0;
    font-size: 1.1rem;
    color: grey;
    font-family: 'Bebas Neue', cursive;
}

.scandal {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.scandal ol {
    background-color: rgba(0, 82, 133, 0.3);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 82, 133, 0.3);
    background-color: rgb(240, 249, 255);
    border-radius: 10px;
    padding: 0 0.5rem;
    margin-top: 2rem;
}

.scandal ol li {
    margin: 1.5rem 2rem;
}

.content {
    margin: 45px auto; 
    width: 70%;
}

.content ul li {
    padding-left: 1rem;
    list-style-type: square;
}

.content p {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.1rem;
}

.content .bold {
    font-weight: bold;
}

.content .urgent {
    color: red;
    font-weight: bold;
}

.content figure {
    max-width: 25%;
    float: right;
}

.faq figure {
    float: left;
    margin: 0 1rem 1rem 0;
}

.faq #ra-logo {
    max-width: 11rem;
    margin: 0;
}

.content figure img {
    border: 1px solid rgb(100,100,100);
    width: 100%;
}

.content figure figcaption {
    color: grey;
    font-family: 'Bebas Neue', cursive;
}

/*************Counter Section *********************/
.counter-box {
    margin: 4rem auto 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    /* box-shadow: 1px 1px 4px rgba(204, 0, 0, 0.8);
    border-radius: 5px; */
    border-top: 1px solid rgb(200,200,200);
    border-bottom: 1px solid rgb(200,200,200);
}
.counter {
    display: block;
    margin: 0px;
    font-size: 2rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    color: red;
}
.counter-header {
    font-family: 'Roboto Condensed', sans-serif;
    /* letter-spacing: 2px; */
    font-size: 1.9rem;
    margin: 0.5rem 0;
}

.timeline-section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
/*************Timeline Section *********************/
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }

.timeline h4 {
    margin: .3rem auto;
}

.timeline article {
    list-style-type: none;
    font-family: 'Roboto Condensed', sans-serif;
}
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: black;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    text-align: center;
    color: gray;
    /* cursor: zoom-in; */
  }

  .container:hover {
    color: white;
    font-size: 1.15rem;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.473);
    background-color: rgb(80,80,80); 
  }
  
  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid black;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left-panel {
    left: 0;
  }
  
  /* Place the container to the right */
  .right-panel {
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left-panel::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid gray;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent gray;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right-panel::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid gray;
    border-width: 10px 10px 10px 0;
    border-color: transparent gray transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right-panel::after {
    left: -16px;
  }
  /* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
      .timeline::after {
        left: 31px;
      }
    
    /* Full-width containers */
      .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px; 
      }
    
    /* Make sure that all arrows are pointing leftwards */
      .container::before {
        left: 60px;
        border: medium solid gray;
        border-width: 10px 10px 10px 0;
        border-color: transparent gray transparent transparent;
      }
    
    /* Make sure all circles are at the same spot */
      .left-panel::after, .right-panel::after {
        left: 15px;
      }
    
    /* Make all right containers behave like the left ones */
      .right-panel {
        left: 0%;
      }
}
.zenith-timeline {
    border: 1px solid rgba(104, 133, 0, 0.3);
    background-color: rgb(253, 255, 240);
}
.zenith-fundraiser {
    border: 1px solid #89b6a1;
    background-color: #e8fff3;
}
.personal-stories {
    border: 1px solid rgba(0, 82, 133, 0.3);
    background-color: rgb(240, 249, 255);
}
.advert {
    text-align: center;
    color: black;
    padding: .1rem 0;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    margin: 5% 2%;
    display: flex;
    flex: 1;
    align-items: flex-start;
}

.btn {
    text-decoration: none;
    color: white;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.timeline-btn {
    background-color: rgb(185, 138, 19);
    border: 1px solid rgb(110, 80, 24);
}

.stories-btn {
    background-color: rgb(0, 82, 133);
    border: 1px solid rgb(25, 56, 75);
}

a {
    color: rgb(0, 82, 133);
}

.page-links {
    display: flex;
    justify-content: space-between;
}

footer {
        background-color: rgb(80,80,80);
        color: white;
        padding: 0.1rem 0;
    }
.plug {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(220,220,220);
    padding: 0.6rem 0;
    box-shadow: 0 0 2px rgba(56, 41, 41, 0.8);
}
.plug p {
    text-align: center;
    margin: 0 1rem;
}
.plug a {
    color: rgb(0, 82, 133);
}
.credits {
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
}

h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5rem;
    text-align: center;
}

.faq h3 {
    margin-top: 3rem;
    margin-bottom: 0;
}

.donate-button {
    background-color: #10df7e;
}

.big-btn {
    padding: 1rem 5rem;
    font-size: 1.125rem;
    font-weight: 600;
    border-radius: 4px;
    text-decoration: none;
    color: white;
}

.donate-button:hover {
    background-color: #00b964;
    transition: .3s;
}

.fundMe {
    color: #10df7e;
}

.stories-section {
    padding-top: 3rem;
}

.stories {
    padding-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: center;
}
.building {
    display: flex;
    justify-content: center;
}
.windows {
    justify-content: space-evenly;
    padding-top: 20px;
    height: 4.5%;
}
.window {
    box-shadow: 1px 1px rgba(66, 66, 66, 0.521);
    width: 20%;
}
.red .window, .green .window {
    background-color: darkgrey;
}
.yellow .window {
    background-color: rgb(153, 153, 153);
}
.red, .yellow, .green {
    width: 100px;
    /* line-height: 15px; */
    /* padding-left: 4px; */
}
/* .red p, .yellow p, .green p {
    font-family: sans-serif;
    font-size: 1.75rem;
} */
.red {
    background-color: rgb(190, 0, 0);
    border-right: 10px solid rgb(140, 1, 1);
    border-top: 3px solid rgb(160, 0, 0);
    height: 1030px;
    margin-top: 30px;
    /* color: darkgrey; */
    /* text-shadow: 1px 1px rgba(66, 66, 66, 0.521); */
}
.yellow {
    background-color: rgb(241, 183, 34);
    border-right: 11px solid rgb(185, 138, 19);
    border-top: 3px solid rgb(213, 155, 27);
    height: 1040px;
    margin-top: 15px;
    /* color: rgb(153, 153, 153); */
    /* text-shadow: 1px 1px rgba(66, 66, 66, 0.281); */
}
.green {
    background-color: rgb(83, 119, 108);
    border-right: 11px solid rgb(61, 78, 71);
    border-top: 3px solid rgb(72, 100, 90);
    height: 1050px;
    /* color: darkgrey; */
    /* text-shadow: 1px 1px rgba(66, 66, 66, 0.521); */
}
.people {
    position: absolute;
    padding-left: 0;
    margin: 0;
    width: 250px;
}

.people li {
    padding: 5px; 
    position: absolute;
    /* Absolute will position relative to parent container */
    /* Parent of an aboslute element must have a position: relative */
    transition: .5s;
    list-style-type: none;
}

.odds {
    position: absolute;
    right: 20%;
} 

.evens {
    position: absolute;
    left: 28%;
}

.people h5 {
    font-size: 22px;
    font-family: 'Bebas Neue', cursive;
    margin: 10px 0 0 0;
    letter-spacing: 2px;
}

.people h6 {
    font-size: 16px;
    font-family: 'Bebas Neue', cursive;
    /* margin: 0; */
    font-weight: normal;
    letter-spacing: 1px;
    margin: -2px 0 8px 0;
}

.people p {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0 10px;
}

.people img {
    border-radius: 100px;
    height: 60px; 
    margin: 3px 10px 3px 3px;
}
.story-btn {
    cursor: pointer;
}
/****************************************************/
/* Story buttons css */
.fifteen {
    top: 0;
    z-index: 2;
}
.p15 {
    display: none;
}
.show-p15 {
    display: flex;
}
.fifteen-img, .fourteen-img, .thirteen-img, .twelve-img {
    height: 100px !important;
}
.fifteen-hx, .fourteen-hx, .thirteen-hx, .twelve-hx {
    margin: 20px 0 0 15px;
}
.fourteen {
    top: 100px;
    z-index: 1;
}
.p14 {
    display: none;
}
.show-p14 {
    display: flex;
}
.thirteen {
    top: 200px;
} 
.p13 {
    display: none;
}
.show-p13 {
    display: flex;
}
.twelve {
    top: 300px;
}
.p12 {
    display: none;
}
.show-p12 {
    display: flex;
}
.eleven {
    top: 400px;
}
.p11 {
    display: none;
}
.show-p11 {
    display: flex;
}

@media only screen and (max-width: 1065px) and (min-width: 375px) {
    nav ul {
        width: 85%;
    }
    .hook img {
        border: 1px solid rgb(100,100,100);
    }
    h2 {
        font-size: 1.8rem;
    }
    p, q {
        font-size: 1rem;
    }
    .content, .hook {
        width: 80%;
    }
}

@media only screen and (max-width: 890px) {
    nav {
        padding-right: 0;
    }
    .hook p {
        font-size: 2.5rem;
    }
    .hook figure {
        width: 50%;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1rem;
    }
} 

@media only screen and (max-width: 620px) {
    .hook p {
        font-size: 1.5rem;
        letter-spacing: .01rem;
    }
    q {
        letter-spacing: .01rem;
        font-size: .85rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    h3 {
        font-size: 1.05rem;
    }
    .content p, nav ul li {
        font-size: 1rem;
        line-height: 1.2rem;
    }
    .content, .hook {
        width: 90%;
    }
    .content ul {
        padding-left: 5%;
    }
    .content ul li {
        padding-left: 0;
    }
    .donate-button {
        padding: .65rem 3.2rem;
    }
} 
@media only screen and (max-width: 1320px) {
    .odds {
        right: 12%;
    } 
    
    .evens {
        left: 22%;
    }    
}
@media only screen and (max-width: 1065px) {
    .odds {
        right: 0;
    }
    .evens {
        left: 13%;
    } 
    .counter, .counter-header {
        font-size: 1.6rem; 
    }
}

@media only screen and (max-width: 790px) {
    .odds {
        left: 0;
    }
    .evens {
        left: 0;
    }
    .people {
        width: 100%;
    }
    .hover {
        background-color: rgba(224, 224, 224, 0.9);
        border-radius: 50px;
        padding-right: 0.6rem;
    }
    .counter-box {
        display: block;
    }
    .box-right {
        margin-top: 2rem;
    }
    .counter, .counter-header {
        font-size: 1.3rem; 
    }
}

@media only screen and (max-width: 890px) and (min-width: 780px) {
    nav .scandal-nav {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 414px) {
    .red, .yellow, .green {
        width: 70px;
        overflow: hidden;
        /* line-height: 4px; */
        /* padding-left: 1.5px;  */
        
    }
    /* .red p, .yellow p, .green p {
        font-size: 2rem;
        letter-spacing: -0.1rem;
    } */
    .red {
        height: 840px;
        border-right: 9px solid rgb(140, 1, 1);
        border-top: 2px solid rgb(160, 0, 0);
        /* margin-top: 30px; */
    }
    .yellow {
        height: 850px;
        border-right: 10px solid rgb(185, 138, 19);
        border-top: 2px solid rgb(213, 155, 27);
        /* margin-top: 15px; */
    }
    .green {
        height: 860px;
        border-right: 10px solid rgb(61, 78, 71);
        border-top: 2px solid rgb(72, 100, 90);
    }
    .counter, .counter-header {
        font-size: 1.2rem; 
        text-align: center;
    }
    .page-links {
        display: block;
    }
}

.hover:hover {
    background-color: white;
    opacity: .7;
}  

.show-fifteen, .show-fourteen, .show-thirteen, .show-twelve, .show-eleven {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.473);
    background-color: white;
}